// Specific CSS for your home-page
.logo{
  width: 450px;
  height: 225px;
  margin: 80px auto 0;
  display: block;
  align-items: center;
}

p{
  text-align: center;
  line-height: 100px;
}

.homepage-btn {
  background-color: rgb(37, 143, 196);
  color: rgb(0, 0, 0);
  display: block;
  margin: 45px auto 0;
  align-items: center;
  border-radius: 50px ;
}
