// Specific CSS for your home-page
body{
background-color: rgb(255, 255, 255);

}
.logo{
  width: 6;
  height: 400px;
  margin: 0px auto 0;
  display: block;
  align-items: center;
}


.home-text {
  text-align: center;
}

.homepage-btn{
outline: none;
cursor: pointer;
font-size: 14px;
line-height: 1;
border-radius: 50px;
transition-property: background-color,border-color,color,box-shadow,filter;
transition-duration: .3s;
border: 1px solid transparent;
letter-spacing: 2px;
min-width: 160px;
text-transform: uppercase;
white-space: normal;
font-weight: 700;
text-align: center;
padding: 17px 30px;
color: #ffffff;
background-color: #79C5DD;
height: 48px;
align-items: center;
display: block;
width: 30px;
font-family: 'Lobster','cursive';
margin: 0px auto 50px;

  &:hover{
    background-color: #735D78;;
    transition: background-color 0.5s;
    color: #ffffff;
  }
}
