// Specific CSS for your home-page

body{
background-color: rgb(255, 255, 255);

}
.logo{
  width: 6;
  height: 225px;
  margin: 80px auto 0;
  display: block;
  align-items: center;
}

p{
  text-align: center;
}

.homepage-btn{
display: inline-block;
outline: none;
cursor: pointer;
font-size: 14px;
line-height: 1;
border-radius: 500px;
transition-property: background-color,border-color,color,box-shadow,filter;
transition-duration: .3s;
border: 1px solid transparent;
letter-spacing: 2px;
min-width: 160px;
text-transform: uppercase;
white-space: normal;
font-weight: 700;
text-align: center;
padding: 17px 48px;
color: #000000;
background-color: rgba(121, 197, 221, 0.6);
height: 48px;
align-items: center;
display: block;
width: 30px;
font-family: Livvic;

&:hover{
  background-color: rgb(149, 206, 229);
  transition: background-color 0.5s;
}
}
