.footer {
  color: rgb(250, 250, 250);
  font-size: 15px;
  padding: 16px;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #79C5DD;
  margin-top: 15px;
  position: absolute;
  height: 2.5rem;

}

.fab{
  color: white;
}
