.form-title {
  color:rgb(250, 250, 250);
  font-family: monospace;
  border-radius: 100px;
}

p {
  color:rgb(250, 250, 250);
  font-family: Lucida Sans;
  font-size: 25px;
}

body {
  background-color: #735D78;
  font-size: 20px;
  font-family: Gill Sans;
}

h1 {
  color:rgb(250, 250, 250);
  font-family: sans-serif;
}
