.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  align-items: center;
  z-index: 1000;
  color: #735D78
}

.navbar-FFB {
  display: flex;
  justify-content: space-between;
  background: white;
}

.navbar-FFB .navbar-collapse {
  flex-grow: 0;
}

.navbar-FFB .navbar-brand img {
  width: 250px;
}

#space-below-navbar {
  height: 105.4px;
  width: 100%
}

.nav-btn {
color: #735D78;
border-radius: 10px;
padding: 8px;
margin: 12px 4px 4px;
}

.dropdown-toggle {
  margin-left: 16px;
}
