.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  align-items: center;
  z-index: 1000;
}

.navbar-FFB {
  display: flex;
  justify-content: space-between;
  background: white;
}

.navbar-FFB .navbar-collapse {
  flex-grow: 0;
}

.navbar-FFB .navbar-brand img {
  width: 250px;
}

#space-below-navbar {
  height: 105.4px;
  width: 100%
}
